name: Publish docs to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - run: pip install mkdocs-material pymdown-extensions 

      # Copy repo docs into website/docs for the build
      # Explicitly copy sub-folders to avoid overwriting website/docs/index.md
      - name: Prepare Docs
        run: |
          pwd
          ls -F
          ls -F docs/
          mkdir -p website/docs
          cp -r docs/book website/docs/
          cp -r docs/reference website/docs/
          cp -r docs/internals website/docs/
          cp -r docs/spec website/docs/
          cp -r docs/dev website/docs/
          echo "File structure after copy:"
          ls -R website/docs

      - run: mkdocs gh-deploy --force --config-file website/mkdocs.yml
